.contenedor-alerts {
	position: fixed;
	width: 340px;
	color: white;
	height: 0;
	z-index: 1;
	
	.alerta {
		position: relative;
		transition: left .5s cubic-bezier(.53,-0.52,.41,1.01);
		// transition: left .5s cubic-bezier(1,-0.42,.41,1.01);
		left: -345px;
		box-shadow: 0 0 2px 2px rgba(0, 0 ,0, .2);
		overflow: hidden;
		height: 66px;
	}

	.agregarAlert {
		transition: left .5s cubic-bezier(.12,1.82,.83,.67);
		left: 10px;
	}

	.quitarAlert {
		transition: all .5s ease-in;
		height: 0;
		padding: 0 !important;
		margin-bottom: 0 !important;
	}
}

@media (max-width: 359px) {
	.contenedor-alerts {
		width: 300px;

		.alerta {
			height: 75px;
		}
		
		.quitarAlert {
			transition: all .5s ease-in;
			height: 0;
			padding: 0 !important;
			margin-bottom: 0 !important;
		}
	}

}